
#navbar{
    height:60px;
    background-color: black;
}
button {
    background-color: #f08804;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

a {
    margin-right: 130px;
    color: white;
}
.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#content {
    height: 400px;
}
footer{
    background-color: black;
    color:white;
    text-align: center ;
}