#heading{
    color: aqua;
    background-color: bisque;
}
h4{
    color: black;
}
body{
    background-color: pink;
}
button{
    background-color: blue;
}
p{
    color: black;
}
.myclass{
    color: brown;
}
.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
}

